# OpenSearch Configuration
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_PROTOCOL=http
OPENSEARCH_INDEX_PREFIX=school-logs

# Application Configuration
APP_PORT=3000
NODE_ENV=development

# Logging Configuration
LOG_LEVEL=info
LOG_INDEX_NAME=school-application-logs
LOG_INDEX_NAME_KAFKA=school-kafka-logs

# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=app-gateway
KAFKA_SSL=false
KAFKA_TOPIC_STUDENTS=school.students.v1
KAFKA_TOPIC_DLQ=school.dlq.v1
# SCHEMA_REGISTRY_URL=http://localhost:8081 